<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>

  <link href="https://fonts.googleapis.com/css?family=Arvo:400,700|Open+Sans:400,700" rel="stylesheet">
  {{! update this and the file name }}
  <link rel="stylesheet" href="/assets/stylesheets/icy-ewe.0.0.3.css">
</head>

<body>
  {{#if user.loggedIn}}
    <div class="app">
      <header class="app__header">
        {{! old header
          <div class="icy-ewe-header">
            <h1 class="icy-ewe-header__title">I See You!</h1>
          </div>
        }}

        <header class="main-header main-header--static main-header--dark">
          <div class="main-header__wrapper">
            <div class="main-header__content">
              Preco
            </div>
          </div>
        </header>
      </header>

      <main class="app__body">
        <div class="chat-view">
          <div class="chat-view__video-section">
            <div class="videos">
              <div id="primary-videos" class="videos__primary"></div>
              <div id="secondary-videos" class="videos__secondary"></div>
            </div>
          </div>
          <div class="chat-view__text-section">
            <div class="text-chat">
              <div class="text-chat__own-cam" id="own_cam"></div>
              <div class="text-chat__chat-board" id="chat_board">
                <p class="init"><span>Type below to start the conversation!</span></p>
              </div>
              <div class="text-chat__input-section">
                <form id="chat_form" style="position:absolute;top:0;left:0;width:100%;height:100%;display:none;">
                  <input placeholder="Hit enter to send" type="text" id="chat_input" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                  <button style="display:none;"></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script>
      var USER_CHAT_NAME = "{{ user.data.name }}";
    </script>
    <script src="https://cdn.temasys.io/skylink/skylinkjs/0.6.x/skylink.complete.js"></script>
    <script src="/assets/javascripts/icy-ewe.0.0.2.js"></script>
  {{else}}
    <div class="app">
      <header class="app__header">
        <div class="icy-ewe-header">
          <h1 class="icy-ewe-header__title">I See You!</h1>
        </div>
      </header>
      <main class="app__body">
        <h1>Please log in to continue:</h1>
        <form action="/log-in" method="post">
          <label for="email_input">email</label>
          <input id="email_input" type="email" name="email">

          <br>

          <label for="password_input">password</label>
          <input id="password_input" type="password" name="password">

          <br>

          <button>Log in</button>
          <input type="hidden" name="redirecturl" value="/icy-ewe">
        </form>
      </main>
    </div>
  {{/if}}
</body>
