<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Preco | I see you</title>

  <link href="https://fonts.googleapis.com/css?family=Arvo:400,700|Open+Sans:400,700" rel="stylesheet">
  {{! update this and the file name }}
  <link rel="stylesheet" href="/assets/stylesheets/icy-ewe.0.0.2.css">
</head>

<body>
  <div class="app">
    <header class="app__header">
      <div class="site-header">
        <h1 class="site-header__title">I See You!</h1>
      </div>
    </header>
    <main class="app__body">
      <div class="videos">
        <div id="primary-videos" class="videos__primary"></div>
        <div id="secondary-videos" class="videos__secondary"></div>
      </div>
    </main>
  </div>

<script src="https://cdn.temasys.io/skylink/skylinkjs/0.6.x/skylink.complete.js"></script>
<script src="/assets/javascripts/icy-ewe.0.0.1.js"></script>
</body>
