<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/stylesheets/preco.0.0.4.css">
</head>

<body>
  <header class="main-header main-header--static">
    <div class="main-header__wrapper">
      <div class="main-header__content">
        <h1 class="main-header__title">Preco</h1>
      </div>
    </div>
  </header>

  <hr>
  <form action="/log-in" method="post">
    <label for="email_input">email</label>
    <input id="email_input" type="email" name="email">

    <br>

    <label for="password_input">password</label>
    <input id="password_input" type="password" name="password">

    <br>

    <button>Log in</button>
    {{#if redirecturl}}
      <input type="hidden" name="redirecturl" value="/icy-ewe">
    {{/if}}
  </form>
  <hr>
</body>
