.contact-section {
  width: calc(100% - #{$g-4});
  max-width: g(150);
  margin: $g-4 auto;

  &__contact-list {
    @include box;

    display: flex;
    flex-wrap: wrap;
  }

  &__contact {
    display: flex;
    align-items: center;
    position: relative;
    flex-basis: g(43);
    flex-grow: 1;
    margin: $g-2;
    margin-right: 0;

    &-image {
      width: g(15);
      height: g(15);
      object-fit: cover;
    }

    &-detail {
      @include t-body(0);
      position: relative;

      &--name {
        @include t-heading(0);
      }

      &--role {
        @include t-subheading(0);
      }

      &--email {
        @include t-link(0);
      }
    }

    &--padder {
      @include margin-vertical(0);
    }

    > * + * {
      margin-left: $g-2;
    }
  }

  &__delete-contact {
    @include t-body(0);
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    margin: 0;
    line-height: 50px;
    text-align: center;
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
  }

  &__contact:hover &__delete-contact {
    opacity: 1;
  }
}
