.main-nav {
  display: flex;
  padding: $g-1 $g-5;
  background-color: white;

  &__nav-item {
    flex-grow: 1;
    line-height: $g-4;
    font-family: $f-body;
    font-size: $g-2;
    text-align: center;
    color: $navy;

    & + & {
      border-left: 1px solid $gray-6;
    }
  }
}
